# Stripe Configuration
STRIPE_SECRET_KEY_DEV=your_stripe_test_key_here
STRIPE_SECRET_KEY_PROD=your_stripe_live_key_here

# Stripe Configuration
STRIPE_WEBHOOK_SECRET_DEV=your_stripe_webhook_test_secret_here
STRIPE_WEBHOOK_SECRET_PROD=your_stripe_webhook_live_secret_here

# PayPal Configuration
PAYPAL_CLIENT_ID=your_paypal_client_id_here
PAYPAL_CLIENT_SECRET=your_paypal_client_secret_here
PAYPAL_MODE=live | sandbox

# Frontend Endpoint
FRONTEND_URL_DEV=http://localhost:5173
FRONTEND_URL_PROD=https://thesourceofhope.org

# Node Configuration
PORT=3001
NODE_ENV=production | development
