# Stripe Configuration
STRIPE_SECRET_KEY_DEV=your_stripe_test_key_here
STRIPE_SECRET_KEY_PROD=your_stripe_live_key_here

# Stripe Configuration
STRIPE_PUBLISHABLE_KEY_DEV=your_stripe_publishable_test_key_here
STRIPE_PUBLISHABLE_KEY_PROD=your_stripe_publishable_live_key_here

# PayPal Configuration
PAYPAL_CLIENT_ID_DEV=your_paypal_client_id_test_here
PAYPAL_CLIENT_ID_PROD=your_paypal_client_id_live_here

# PayPal Configuration
PAYPAL_CLIENT_SECRET_DEV=your_paypal_client_secret_test_here
PAYPAL_CLIENT_SECRET_PROD=your_paypal_client_secret_live_here

# Paypal endpoints
PAYPAL_API_BASE_DEV=https://api.sandbox.paypal.com
PAYPAL_API_BASE_PROD=https://api.paypal.com

# Frontend Endpoint
FRONTEND_URL_DEV=http://localhost:5173
FRONTEND_URL_PROD=https://thesourceofhope.org

# Node Configuration
PORT=3001
NODE_ENV=production | development