# Stripe
STRIPE_SECRET_KEY=your_stripe_test_key_here
STRIPE_PUBLISHABLE_KEY=your_stripe_test_publishable_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_test_webhook_secret_here

# PayPal
PAYPAL_CLIENT_ID=your_paypal_client_id_test_here
PAYPAL_CLIENT_SECRET=your_paypal_client_secret_test_here
PAYPAL_API = production | development

# Resend
RESEND_API_KEY=your_resend_api_key_here

# Frontend
FRONTEND_URL=http://localhost:5173

# Node
PORT=3001
NODE_ENV=development
