@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary-background: white;
  --color-primary-identity: #24388a;

  --color-accent-background: #b5d9d8;
  --color-accent-identity: #1b75bc;

  --font-inter: "Inter", sans-serif;

  --text-xxlg: 2em;
  --text-xlg: 1.5em;
}
